.main-container {
  padding: 4%;
}

* {
  font-family: 'Roboto';
}

h1 {
  font-size: 5vw;
}

.content-container {
  height: 40%;
  display: flex;
}

.input-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container > img {
  width: 80%;
}

label {
  font-size: 2vw;
  margin-bottom: 1%;
}

input,
textarea {
  align-self: flex-start;
  width: 70%;
  border: none;
  border-radius: 4px;
  box-shadow:
    0px 0px 5px #dee0e3,
    -0px -0px 5px #dee0e3;
  padding: 2% 4%;
  margin-bottom: 2%;
  font-size: 1vw;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  background-color: #0284c7;
  font-size: 1.5vw;
  color: #dee0e3;
  border-radius: 2px;
  padding: 2% 5%;
  box-shadow:
    0px 0px 5px #475569,
    -0px -0px 5px #475569;
}

ul {
  list-style: none;
}

ul li {
  padding: 0px;
  margin-bottom: 1%;
}

.errormsg {
  color: red;
  display: flex;
}

.noerrormsg{
  display: none;
}
